h1,p{
    text-align: center;
  }
  .container{
    position: absolute;
    
  }
   form{ 
    background-color: purple;
    width: 45%;
    border-radius: 4px;
    padding: 15px;
   
     
  }
  input{
    margin-bottom:20px;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
  }
  button {
    width: 100%;
  }
  button :hover{
    blackground: pruple;
  }
  textarea{
    width: 100%;
     box-sizing: border-box;
  }