
@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

body{
  background-color:#5B2C6F;
  font-family: "Poppins", sans-serif;
  color:white;

}
/*@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}*/

.header{
  text-align: center;

}
#description{
  font-size: 25px;
}

label {
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}

 .formulario{ 
  background-color: #8E44AD ;
  width: 45%;
  border-radius: 5px;
  padding: 15px;
  margin-left:auto;
  margin-right:auto;
   
}
/*@media (min-width: 480px) {
  .formulario {
    padding: 2.5rem;
  }
}*/
#name-label,#surname-label,#email-label,#number-label,#pais-label{
  margin-bottom:20px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
textarea,button{
  width: 100%;
   box-sizing: border-box;
}
button{
  background-color: rgb(185, 141, 226);
}